<% if current_user.nil? %>
  <%= link_to('Log in', new_user_session_path)  %>  
<% else %>
  <%= link_to('Log out', destroy_user_session_path, :method => :delete) %>
<% end %>

<% if user_signed_in? %>
  <%= link_to('Edit registration', edit_user_registration_path) %>
<% else %>
  <%= link_to('Register', new_user_registration_path)  %>
<% end %>

<h1>Welcome to (f)Instagram!</h1>

